.wrapper{
    background: aliceblue;
    padding: 20px;
    margin-top: 20px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.detail__item{
    font-size: 20px;
    margin: 10px 0;
}
.detail__important{
    font-weight: bold;
    color: cadetblue;
}